In [22]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [23]:
# from CausalBenchmark.data_generation_framework import *
from CausalBenchmark.parameters import build_parameter_object, DEFAULT_PARAMETER_PATH
from CausalBenchmark.data_generation import DataGeneratingProcessWrapper
from CausalBenchmark.utilities import generate_random_covariates

In [24]:
covar_data = generate_random_covariates()

In [25]:
dgp_params = build_parameter_object(DEFAULT_PARAMETER_PATH)

In [26]:
dgp_wrapper = DataGeneratingProcessWrapper(
    parameters=dgp_params, source_covariate_data=covar_data)

dgp_wrapper.sample_dgp()

In [27]:
observed_data, oracle_data = dgp_wrapper.generate_data()

In [28]:
observed_data.head()

,X0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X13,X14,X15,X16,X17,X18,X19,NOISE(Y),T,Y
268,6.117669,3.180025,3.408850,-7.096679,1.269909,0.987785,2.057294,-3.134434,-0.354503,4.963873,...,-0.613437,-10.518424,-3.729507,-7.450537,5.082179,-12.366346,3.180068,1.066,0,0.836228
174,3.638451,2.919956,-4.435039,1.965232,-4.862481,3.371753,-11.023536,1.945675,-3.160899,1.625980,...,-4.825124,-4.853049,2.886464,6.413841,3.461864,5.740624,-3.471180,0.520,0,0.000561
195,-6.334853,-2.075878,0.166566,5.234861,-9.737673,3.384837,9.642644,-0.963491,-4.326389,3.087250,...,0.703343,2.889730,2.228636,5.495212,-0.531542,0.161765,-8.027816,-1.771,1,0.456070
639,3.342355,-5.996302,-7.505439,5.056553,6.952525,5.261663,2.037121,1.741514,-3.451102,-6.509141,...,3.035212,-7.785881,2.074897,8.499535,-3.828886,-1.065682,-0.745810,-3.949,1,-1.227620
908,0.920007,-2.394603,1.659124,-5.289450,-5.897913,-1.471376,2.993897,-8.278866,0.705812,0.159448,...,-6.843556,9.187230,-4.176170,-2.854112,-0.589593,4.341704,5.411867,1.821,0,1.757292

In [30]:
oracle_data.head()

,X'_0=-0.391*X3*X8,X'_1=-0.726*X12*X4*X9,X'_2=0.764*X7**3,X'_3=1.354*X17*X4,X'_4=-0.282*X8**3,X'_5=-0.828*X15,X'_6=1.386*X10*X3*X7,X'_7=0.108*X5,X'_8=-0.378*X3**2,X'_9=0.046*X18**3,...,X'_45=-1.08*X7,X'_46=0.523*X18**3,X'_47=0.408*X14*X7,X'_48=0.552*X14**2,X'_49=2.27*X16,logit(P(T|X)),P(T|X),Y0,Y1,TE
0,-0.983677,10.171993,-23.527226,8.738586,0.012563,3.088032,240.778266,0.106681,-19.037158,-86.992545,...,3.385189,-989.067408,13.451477,61.071758,-16.912719,-0.187389,0.453289,0.836228,2.770401,1.934173
1,2.428853,17.147016,5.627353,-22.792220,8.905962,-2.389993,6.028632,0.364149,-1.459888,8.702322,...,-2.101329,98.941613,-3.852522,13.000749,14.559419,0.665538,0.660503,0.000561,2.081967,2.081406
2,8.855385,35.045337,-0.683339,7.008284,22.836307,-1.845310,-2.391013,0.365562,-10.358623,0.000195,...,1.040570,0.002214,-1.135965,4.609499,12.474131,0.636255,0.653906,-2.333364,0.456070,2.789434
3,6.823217,209.451168,4.035288,-36.044051,11.591045,-1.718014,37.782219,0.568260,-9.664980,-0.055672,...,-1.880835,-0.632971,-5.532163,33.462205,19.293944,0.763422,0.682096,-6.205836,-1.227620,4.978216
4,1.459743,0.807838,-433.516800,4.708354,-0.099155,3.457869,-175.063211,-0.158909,-10.575791,3.764771,...,8.941175,42.803808,-31.032418,46.591670,-6.478834,0.393512,0.597128,1.757292,4.629738,2.872446